@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Vazir.woff2") format("woff2"),
      url("../fonts/Vazir.woff") format("woff"),
      url("../fonts/Vazir.ttf") format("truetype");
    /* Safari, Android, iOS */
  }
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
body {
    font-family: "Vazir" !important;
    background-repeat: no-repeat;
    background-color: #151515;
  }
  
  .siten:hover{
  color: white;
  }
  
  
  #navbarcolor {
    background-color: black;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  h5{
    color: white;
    font-size: x-large;
  }
  
  
  .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 20px 0px;
    display: inline-block;
    position: relative;
  
  }
  
  
  .nav-link::before {
    transition: 300ms;
    margin-bottom: -17px;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #00d32e;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  
  }
  
  .nav-link-ltr:hover {
    color: #ffffff;
  
  }
  
  
  #marg{
    margin-left: 1.65em;
  }
  .iconnv{
    width: 40px;
    height: 40px;
    border-radius: 2px;
  }
  .siten{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .wihe{
    height: 15rem;
  }
  .marg1{
    margin-top: 3rem ;
  }
  #clr{
    background-color: #0f0f0f;
  }
  p{
    color: rgb(209, 209, 209);
    font-size: large;
  }
  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .glow-on-hover:active {
    color: #000
  }
  
  .glow-on-hover:active:after {
    background: transparent;
  }
  
  .glow-on-hover:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .glow-on-hover1 {
    width: 150px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .glow-on-hover1:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .glow-on-hover1:active {
    color: #000
  }
  
  .glow-on-hover1:active:after {
    background: transparent;
  }
  
  .glow-on-hover1:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover1:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }